In [6]:
import pandas as pd

# Read the CSV file
df = pd.read_csv("anomaly_detection_cluster_0_withdrawals.csv")

# Filter rows where 'y_pred' column equals 1
filtered_df = df[df['y_pred'] == 1]

# Display the filtered DataFrame
print(filtered_df.count)

<bound method DataFrame.count of        Unnamed: 0     trans_date  account_id  trans_type   amount  \
1279        42190  1536796800000         319  WITHDRAWAL  57700.0
1280        42191  1536883200000         319  WITHDRAWAL   2196.0
5680       151804  1499904000000        1139  WITHDRAWAL  16400.0
9248       288156  1375488000000        2176  WITHDRAWAL  10300.0
9249       288157  1375488000000        2176  WITHDRAWAL  28400.0
9250       288158  1375660800000        2176  WITHDRAWAL   1085.0
9251       288159  1375660800000        2176  WITHDRAWAL  36300.0
9840       292039  1483660800000        2209  WITHDRAWAL   5887.0
9872       292071  1496361600000        2209  WITHDRAWAL  35000.0
10356      293309  1484784000000        2219  WITHDRAWAL  27300.0
10357      293310  1484870400000        2219  WITHDRAWAL   1500.0
10358      293311  1484956800000        2219  WITHDRAWAL   2700.0
11877      318606  1483315200000        2424  WITHDRAWAL   4800.0
12504      327279  1527984000000        2486  WITHDRAWAL  22800.0
12906      333545  1430352000000        2527  WITHDRAWAL  42600.0
17027      448138  1475193600000        3402  WITHDRAWAL  62300.0
19327      508445  1452211200000        3869  WITHDRAWAL  50700.0
19733      529580  1413590400000        4131  WITHDRAWAL  32500.0
19768      529615  1429142400000        4131  WITHDRAWAL  34300.0
20922      535338  1530316800000        4321  WITHDRAWAL     14.6
23030      553304  1492646400000        5129  WITHDRAWAL  40500.0
23070      553344  1517270400000        5129  WITHDRAWAL  62800.0
23071      553345  1517356800000        5129  WITHDRAWAL     14.6
26368      573182  1380585600000        6555  WITHDRAWAL  29800.0
27746      584187  1506729600000        7606  WITHDRAWAL  11100.0
28528      586754  1431302400000        7815  WITHDRAWAL   1475.0
28529      586755  1431302400000        7815  WITHDRAWAL   2197.0
28905      589667  1489708800000        7957  WITHDRAWAL  26500.0
30541      595221  1513296000000        8316  WITHDRAWAL  12100.0
31945      601516  1542067200000        8899  WITHDRAWAL  17700.0
34666      615922  1420848000000        9883  WITHDRAWAL    713.0
34667      615923  1420848000000        9883  WITHDRAWAL   5700.0
34956      617875  1401494400000       10079  WITHDRAWAL  26200.0
35278      618538  1460505600000       10105  WITHDRAWAL  34100.0
36659      626701  1544140800000       10789  WITHDRAWAL  16200.0
36941      628920  1388793600000       10973  WITHDRAWAL  28800.0
37162      629141  1534896000000       10973  WITHDRAWAL  36700.0

       total_withdrawals_5d  num_withdrawals_5d  y_pred  y_scores
1279               129022.5                   5       1  0.040473
1280               131218.5                   6       1  0.048710
5680                80601.0                   5       1  0.002491
9248               113400.0                   4       1  0.005207
9249               141800.0                   5       1  0.040473
9250               142885.0                   6       1  0.048710
9251               179185.0                   7       1  0.048710
9840                95887.0                   5       1  0.022643
9872               121414.6                   4       1  0.009399
10356               88200.0                   5       1  0.012975
10357               84900.0                   5       1  0.010867
10358               87600.0                   6       1  0.020932
11877               96614.6                   5       1  0.022643
12504               96314.6                   5       1  0.022643
12906              119014.6                   4       1  0.007300
17027              151630.0                   4       1  0.009399
19327              105460.0                   7       1  0.039381
19733              150300.0                   4       1  0.009399
19768              116274.0                   4       1  0.007300
20922              128214.6                   4       1  0.009399
23030              112900.0                   4       1  0.005207
23070              138800.0                   4       1  0.009399
23071              138814.6                   5       1  0.040473
26368               84130.0                   5       1  0.011393
27746              112614.6                   4       1  0.005207
28528              122575.0                   4       1  0.009399
28529              124772.0                   5       1  0.040473
28905               83300.0                   5       1  0.008764
30541               89100.0                   5       1  0.014031
31945               87801.8                   5       1  0.012975
34666               90413.0                   5       1  0.014560
34667               96113.0                   6       1  0.030698
34956              117114.6                   5       1  0.039927
35278              104279.0                   5       1  0.031238
36659               84103.0                   6       1  0.019334
36941               84730.0                   6       1  0.018802
37162              152600.0                   4       1  0.009399  >

In [5]:
import pandas as pd

# Assuming the dataset is in the same directory as this script
csv_file_path = "fin_trans.csv"

# Load the dataset into a DataFrame
df = pd.read_csv(csv_file_path)

# Count the number of unique values in the 'other_account' column
unique_other_accounts_count = df['other_account_id'].nunique()

# Print the count of unique values
print("Count of unique values in 'other_account':", unique_other_accounts_count)

Count of unique values in 'other_account': 7665

C:\Users\YWK\AppData\Local\Temp\ipykernel_28300\1997295364.py:7: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file_path)

In [6]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv("fin_trans.csv")

# Filter out rows with negative values in the 'amount' column
df = df[df['amount'] >= 0]

# Write the filtered DataFrame to a new CSV file
df.to_csv("fin_trans_updated.csv", index=False)

C:\Users\YWK\AppData\Local\Temp\ipykernel_28300\173895759.py:4: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("fin_trans.csv")